@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient( */
  /*     to bottom, */
  /*     transparent, */
  /*     rgb(var(--background-end-rgb)) */
  /*   ) */
  /*   rgb(var(--background-start-rgb)); */
  background-color: #000;
  background-image: url(../public/BG.png);
  /* background-repeat: no-repeat; */
  background-size: contain;
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../public/grain/finalfinal.jpg) */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* width */
.custom-scroll-bar::-webkit-scrollbar {
  color-scheme: dark;
    width: 2px;
}

/* Track */
/*.custom-scroll-bar::-webkit-scrollbar-track {*/
/*    background: #888;*/
/*    border-radius: 5px;*/
/*}*/
/**/
/* Handle */
/*.custom-scroll-bar::-webkit-scrollbar-thumb {*/
/*    background: #000;*/
/*    border-radius: 5px;*/
/*}*/

/* Handle on hover */
/*.custom-scroll-bar::-webkit-scrollbar-thumb:hover {*/
/*    background: #000;*/
/*}*/
